body{
    margin: 0;
    padding: 0;
    
}

.contenedor-card{
    width: 400px;
    height: auto;
    text-align: center;
}
.cont-img{
    width: 100%;
    height: 300px;
     background-size: 100%; 
     background-position: center;   
   
}
#img-a{
    background-image: url(/imagenes/imagen-1.jpg);
}
#img-b{
    background-image: url(/imagenes/imagen-2.jpg);
}